{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow fade-in">
                <div class="card-header bg-warning text-dark">
                    <h4>Checkout</h4>
                </div>
                <div class="card-body">
                    <h3 class="text-center mb-4">Pay: <span id="display_total" class="fw-bold">0</span></h3>
                    
                    <form method="POST">
                        <input type="hidden" name="items_data" id="items_data">
                        <input type="hidden" name="total" id="total_amt">
                        
                        <div class="mb-3">
                            <label>Select Delivery Mode</label>
                            <select name="delivery" class="form-select">
                                <option value="Home Delivery">Home Delivery</option>
                                <option value="Store Pickup">Store Pickup</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label>Payment Method</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="payment" value="COD" checked>
                                <label class="form-check-label">Cash on Delivery (COD)</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="payment" value="GPay">
                                <label class="form-check-label">GPay </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="payment" value="UPI">
                                <label class="form-check-label">UPI ID</label>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary w-100 btn-lg">Confirm Order</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}